body {
	background-color: #1a1a1a;
	word-break: break-word;
	color: white;
}

#mainDiv {
	width: 100%;
	text-align: center;
	margin: 5vh auto auto;
	font-size: 16pt;
}

#mainTable {
	text-align: center;
	margin: auto;
	user-select: none
}

table, tr, td {
	border: unset;
	border-spacing: 0;
}

body > h1 {
	text-align: center;
}

#rowGhosts td {
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

#rowGhosts {
	background-color: #111111;
}

.rowEvidence {
	line-height: 26pt;
}

.rowEvidence:nth-child(even) {
	background: #000000;
	filter: brightness(1);
}

.rowEvidence:nth-child(odd) {
	background: #111111;
}

.rowEvidence:hover {
	cursor: pointer;
}


.cellGhosts:hover {
	cursor: pointer;
}

.ui-tooltip.ui-corner-all {
	background-color: #000000;
	color: white;
}

.rowHighlight {
	background-color: #8a8a8a;
	opacity: 1 !important;
}

.columnHighlight {
	background-color: #8a8a8a !important;
	opacity: 1 !important;
}

.clicked {
	background-color: #001681 !important;
}

.ruledout {
	background-color: #6c0000 !important;
}

.rowImpossible {
	opacity: 0.0;
}

.columnImpossible {
	opacity: 0.0;
}

.columnFound {
	background-color: #005b00 !important;
}