body {
	background-color: #5a5a5a;
	word-break: break-word;
}

#mainDiv {
	width: 100%;
	text-align: center;
	margin: 5vh auto auto;
	font-size: 16pt;
}

#mainTable {
	text-align: center;
	margin: auto;
	user-select: none
}

table, tr, td {
	border: unset;
	border-spacing: 0;
}

body > h1 {
	text-align: center;
}

#rowGhosts td {
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

#rowGhosts {
	background-color: #9b9b9b;
}

.rowEvidence {
	line-height: 26pt;
}

.rowEvidence:nth-child(even) {
	background: #7c7c7c;
	filter: brightness(1);
}

.rowEvidence:nth-child(odd) {
	background: #9b9b9b;
}

.rowEvidence:hover {
	cursor: pointer;
}


.cellGhosts:hover {
	cursor: pointer;
}

.ui-tooltip.ui-corner-all {
	background-color: #b9b9b9;
}

.rowHighlight {
	background-color: #b6b6b6;
	opacity: 1 !important;
}

.columnHighlight {
	background-color: #b6b6b6 !important;
	opacity: 1 !important;
}

.clicked {
	background-color: green;
}

.ruledout {
	background-color: red;
}

.rowImpossible {
	opacity: 0.0;
}

.columnImpossible {
	opacity: 0.0;
}